.root {
    main-background-color: #E1E2E1;
    main-foreground-color: #F5F5F6;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    primary-color: #81d4fa;
    accent-color: #4ba3c7;
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: main-foreground-color;
    -fx-border-width: 0px;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: primary-text-color;
}
